*{
	margin:0;
	padding:0;
	font-family:sans-serif;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
body{ 
	font:10px helvetica neue,helvetica,arial,sans-serif;
}
#diagramDiv{
	height:100%;
	width:100%;
	position:absolute;
	left:0;
	top:0;
}